:root {
    --blue-color: rgb(3, 133, 225);
    --grey-color: rgb(185, 201, 210);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* div {
    border: 1px solid red;
} */


body {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 6fr;
}

.header {
    background-color: white;
    grid-column: 2/6;
}

.sidebar {
    background-color: var(--blue-color);
    grid-row: 1/3;
    color: white;
}

.main-content {
    background-color: var(--grey-color);
    grid-column: 2/6;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
}

.projects-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr 1fr;
    grid-column: 1/3;
    grid-row: 1/-1;
    gap: 15px;
    padding: 15px;
}

.projects-cards > h2 {
    grid-column: 1/3;
}

.projects-cards div {
    background-color: white;
    border-left: 6px solid orange;
}

.announcements div, .trending div {
    background-color: white;
}

.announcements {
    display: grid;
    grid-template-rows: 50px;
    padding: 20px;
}

.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
    box-shadow: 0px 3px 5px rgb(135, 135, 135);
    position: relative;
}

.sidebar {
    padding: 10px 25px;
    display: grid;
    grid-template-rows: 50px 1fr 1fr 1fr;
    gap: 20px;
}

ul {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(20px, 16.67%));
}

li {
    list-style: none;
}

label {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}
.user-info {
    display: flex;
    align-items: center;
    gap: 20px;
}
.user-info svg {
    height: 1.5rem;
    width: 1.5rem;
}

label svg {
    height: 1.5rem;
    width: 1.5rem;
}

.avatar-1 {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

input {
    width: 80%;
    border-radius: 20px;
    padding: 6px;
    border: none;
    background-color: rgb(228, 231, 242);
    /* flex: 1 1; */
}

.btns {
    display: flex;
    flex: 1;
    gap: 15px;
    justify-content: end;
}

button {
    border: none;
    min-width: 80px;
    min-height: 35px;
    padding: 2px;
    border-radius: 20px;
    background-color: var(--blue-color);
    color: white;
    transition: 450ms;
}

button:hover {
    transform: scale(1.2);
    transition: 450ms;
}

/* button:active {
    transform: translateY(4px);
    box-shadow: 0px 2px 0px black;
    transition: 200ms;
} */

.cards {
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgb(68, 68, 68);
}

ul li {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.2rem;
    line-height: 45px;
}


.sidebar svg {
    width: 1.2rem;
    height: 1.2rem;
    fill: white;
}

.sidebar > div {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 2rem;
}

.sidebar > div svg {
    height: 3rem;
    width: 3rem;
}


.top {
    display: flex;
    justify-content: stretch;
    align-items: center;
    padding: 7px;
    /* gap: 60%; */
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
}
.greeting {
    flex: 1;
    display: grid;
    grid-template-columns: min-content max-content;
    column-gap: 20px;
}

span {
    font-size: 1.5rem;
    font-weight: 800;
}
.greeting img {
    height: 3.5rem;
    width: 3.5rem;
}
