:root {
    --blue-color: rgb(3, 133, 225);
    --grey-color: rgb(185, 201, 210);
}

@font-face {
    font-family: "roboto";
    src: url("fonts/Roboto-Regular.woff2") format("woff2");
    src: url("fonts/Roboto-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto";
}




body {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 6fr;
}

.header {
    background-color: white;
    grid-column: 2/6;
}

.sidebar {
    background-color: var(--blue-color);
    grid-row: 1/3;
    color: white;
}



.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
    box-shadow: 0px 3px 5px rgb(135, 135, 135);
    position: relative;
}

.sidebar {
    padding: 10px 25px;
    display: grid;
    grid-template-rows: 50px 1fr 1fr 1fr;
    gap: 20px;
}

ul {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(20px, 16.67%));
}

li {
    list-style: none;
}

label {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}
.user-info {
    display: flex;
    align-items: center;
    gap: 20px;
}
.user-info svg {
    height: 1.5rem;
    width: 1.5rem;
}

label svg {
    height: 1.5rem;
    width: 1.5rem;
}

.avatar-1 {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

input {
    width: 80%;
    border-radius: 20px;
    padding: 6px;
    border: none;
    background-color: rgb(228, 231, 242);
}

.btns {
    display: flex;
    flex: 1;
    gap: 15px;
    justify-content: end;
}

button {
    border: none;
    min-width: 80px;
    min-height: 35px;
    padding: 2px;
    border-radius: 20px;
    background-color: var(--blue-color);
    color: white;
    transition: 350ms;
}

button:hover {
    transform: scale(1.2);
    transition: 350ms;
}

button:active {
    transform: scale(1);
    transition: 1ms;
}


ul li {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.3rem;
    font-weight: 900;
    line-height: 45px;
}


.sidebar svg {
    width: 1.2rem;
    height: 1.2rem;
    fill: white;
}

.sidebar > div {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 2rem;
}

.sidebar > div svg {
    height: 3rem;
    width: 3rem;
}


.top {
    display: flex;
    justify-content: stretch;
    align-items: center;
    padding: 7px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
}
.greeting {
    flex: 1;
    display: grid;
    grid-template-columns: min-content max-content;
    column-gap: 20px;
}

.header span {
    font-size: 1.5rem;
    font-weight: 800;
}
.greeting img {
    height: 3.5rem;
    width: 3.5rem;
}


svg {
    box-sizing: content-box;
    border-radius: 50%;
    padding: 5px;
    transition: 500ms;

}

.sidebar svg:hover {
    background-color: rgb(1, 103, 175);
}
.header svg:hover {
    background-color: rgb(219, 219, 219);
}


.main-content {
    background-color: var(--grey-color);
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-column: 2/6;
}

.project-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px;
    grid-column: 1/3;
    gap: 15px;
    padding: 20px;
}

.cards {
    background-color: white;
    border-radius: 10px;
    border-left: 5px solid orange;
    padding: 25px;
}

.announcements, .trending {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    min-width: 300px;
}

.side-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.project-cards h2 {
    grid-column: 1/3;
}

h2 {
    font-size: 1.2rem;
}