*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* div {
    border: 1px solid red;
} */


body {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 6fr;
}

.header {
    background-color: beige;
    grid-column: 2/6;
}

.sidebar {
    background-color: grey;
    grid-row: 1/3;
}

.main-content {
    background-color: rgb(52, 70, 83);
    grid-column: 2/6;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
}

.projects-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr 1fr;
    grid-column: 1/3;
    grid-row: 1/-1;
    gap: 15px;
    padding: 20px;
}

.projects-cards > h2 {
    grid-column: 1/3;
}

.projects-cards div {
    background-color: white;
    border-left: 6px solid orange;
}

.announcements {
    background-color: white;
    margin-top: 20px;
}

.trending {
    background-color: white;
}